html {
    font-size: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(45deg, rgb(35, 169, 169), rgb(151, 151, 50));
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1.5rem;
    border: none;
    border-radius: 1rem;
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}

input {
    width: 100%;
    padding: 1.5rem;
    border: none;
    margin: 5px;
    color: greenyellow;
    font-size: 1.5rem;
    background-color: #3c3c3c;
}

.container {
    padding: 8rem;
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    color: #fff;
}

.container-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-form input,
.container-form button {
    margin: 10px;
    font-size: 16px;
    font-weight: 900;
}

.container-form button:hover {
    background-color: black;
    box-shadow: 0 0 10px rgba(173, 255, 47, 0.9);
    color: greenyellow;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
}

.overlay,
.overlay1,
.overlay2,
.overlay4,
.overlay5 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup,
.popup2,
.popup3 {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10rem;
    border-radius: 1rem;
    background-color: #232323;
    transform: translate(-50%, -50%);
}

.popup1,
.popup4,
.popup5 {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10rem;
    border-radius: 1rem;
    background-color: #232323;
    width: 60%;
    height: 60%;
    overflow-y: scroll;
    transform: translate(-50%, -50%);
}

.popup h1,
.popup1 h1,
.popup2 h1,
.popup3 h1,
.popup4 h1,
.popup5 h1 {
    display: flex;
    justify-content: center;
    color: #fff;
}

.nav-container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    background-color: #232323;
    border: 1px solid #ffffff47;
    color: #fff;
    width: 60%;
    height: 60%;
    z-index: 0;
}

.nav-container ul {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
    margin: 0 auto;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}

.nav-container li {
    padding: 5px;
    text-decoration: none;
}

.nav-container li a {
    color: #fff;
    text-decoration: none;
}

.close-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: red;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.product-info {
    font-size: 14px;
    color: #666;
}

.excluir-button,
.excluir-button1 {
    background-color: #f00;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#mensagem-sucesso {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    position: fixed;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mensagem-sucesso i {
    font-size: 40px;
    color: green;
}

.nav-sub {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 27%;
}

.image-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
}

.nome-perfil {
    font-size: 20px;
    font-weight: 600;
    color: greenyellow;
}

.teste10 {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
}

.description {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.cont-dynamic-item {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    height: max-content;
    border: none;
    text-decoration: none;
}

.cont-dynamic-item li {
    padding: 20px;
    border: none;
    text-decoration: none;
}

.cont-dynamic-item ul {
    padding: 20px;
    border: none;
    text-decoration: none;
}

.cont-dynamic-item ul li a {
    border: none;
    text-decoration: none;
}

.cont-dynamic-item a:hover {
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    color: greenyellow;
}