/* Estilo para os labels */
.popup2 label {
    display: block;
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
}

/* Estilo para os selects e inputs */
.popup2 select,
.popup2 input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}


.button5 {
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    padding: 1.5rem;
    border: none;
    /*Typography stuff*/
    font-size: 1.5rem;
    background-color: greenyellow;
    font-weight: 900;
}

/* Estilo para o botão de submit quando hover (passar o mouse por cima) */
.button5:hover {
    background-color: black;
    box-shadow: 0 0 10px rgb(173, 255, 47, 0.9);
    color: greenyellow;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
}